

<select (change)=changenumbers($event)>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
    <option>6</option>
</select>

<ul>
    <li *ngFor="let item of numbers">{{item}}</li>
</ul>