<div class="row">
    <div class="col-md-12">
        <input type="text" placeholder="Search User" [(ngModel)]="search">
    </div>
</div>
<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>Address</th>
            <th>Website</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users | userFilter: search">
                <td>{{user.name}}</td>
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
                <td>{{user.address.street}}, {{user.address.city}}</td>
                <td>{{user.website}}</td>
                <td><a [routerLink]="['/user', user.id]" routerLinkActive="router-link-active" >View</a></td>
            </tr>
    </tbody>
</table>