<div class="col-md-3 course text-center" *ngFor="let course of mycourses">
        <div class="">
                {{course.title}}
                <br><br>
                <button [routerLink]="['/course', course.id]" routerLinkActive="router-link-active"  class="btn btn-sm btn-dark">Selects</button>
        </div>
    </div>
