<div class="container">
    <hr>
    <div class="row">
        <div class="col-md-3">
                <nav class="nav flex-column">
                        <a class="nav-link" [routerLink]="['./category', '1']">Web Designing</a>
                        <a class="nav-link" [routerLink]="['./category', '2']">Microsoft</a>
                        <a class="nav-link" [routerLink]="['./category', '3']">Networks</a>
                      </nav>
        </div>
        <div class="col-md-9">
            <!-- dynamic based on category selected above -->
            <router-outlet></router-outlet>
            
        </div>
    </div>
</div>