<div class="container">
        <hr>
        <div class="row">
            <div class="col-md-3 course text-center" *ngFor="let chapter of chapters">
                <div class="">
                        {{chapter.title}}
                        <br><br>
                        <button [routerLink]="['/course', chapter.id]" routerLinkActive="router-link-active"  class="btn btn-sm btn-dark">Select</button>
                </div>
            </div>
        </div>
    </div>