<div class="container">
  <div class="row">
    <div class="offset-md-3 col-md-4">
      <div class="row">
        <div class="col-md-3">
          <a
            href="javascript:void()"
            [routerLink]="['/home']"
            routerLinkActive="router-link-active"
            >Home</a
          >
        </div>
        <div class="col-md-3">
          <a
            href="javascript:void()"
            [routerLink]="['/about/krishna/in/2017']"
            routerLinkActive="router-link-active"
            >About</a
          >
        </div>
        <div class="col-md-3">
          <a
            href="javascript:void()"
            [routerLink]="['/courses']"
            routerLinkActive="router-link-active"
            >Courses</a
          >
        </div>
        <div class="col-md-3">
          <a
            href="javascript:void()"
            [routerLink]="['/contact']"
            routerLinkActive="router-link-active"
            >Contact</a
          >
        </div>
      </div>
    </div>
    <div class="col-md-1">Cart({{ cartvalue }})</div>
  </div>
  <router-outlet></router-outlet>
</div>
<app-footer></app-footer>
