<div class="container">
    <div class="row">
        <select [(ngModel)]="cols">
        <option value="col-3">4 cols</option>
        <option value="col-4">3 cols</option>
      </select>
    </div>
    <div class="row">
        <h4>{{today | date:'yyyy MM dd'}}</h4>
    </div>
    <div class="row">
        <input type="text" placeholder="Search Product" [(ngModel)]="searchstr">
    </div>
    <div class="row">
        <div [ngClass]="cols" *ngFor="let product of products | productFilter:searchstr">
            <img class="img-fluid" [src]="product.img" alt="">
            <p>{{product.name | uppercase}}</p>
            <p><span appOldPrice> {{product.price | currency}}</span><span> {{product.price | discount:product.discount | currency}}</span></p>
            <p>{{product.description}}</p>

            <app-add-to-cart-btn (addtocartevent)="receiveMsg($event)"></app-add-to-cart-btn>
            {{cartmessage}}
        </div>
    </div>
</div>