<form [formGroup]="blogForm" (ngSubmit)= "submit()">
        <label for="">Title</label>
        <input type="text" formControlName="title"><br>
        <label for="">Email</label>
<input type="text" formControlName="email"> <br>

<div *ngIf="f['email'].touched&&f['email'].errors">
    <div *ngIf="this.f['email'].errors.required" class="text-danger">Email is required</div>
    <div *ngIf="this.f['email'].errors.email" class="text-danger">Enter valid email</div>
</div>
<label for="">Subject</label>
<input type="text" formControlName="subject"> <br>
<div *ngIf="f['subject'].errors">
        <div *ngIf="this.f['subject'].errors.required" class="text-danger">Subject is required</div>
        <div *ngIf="this.f['subject'].errors.minlength" class="text-danger">Min length is 3 characters</div>
    </div>
    
<label for="">Content</label>
<textarea formControlName="content"></textarea> <br>
<button [disabled]="this.blogForm.invalid">Post Article</button>
</form>