<div class="row">
  <div class="col-md-12">
    <h2 class="text-center">Home</h2>
    <input type="text" [(ngModel)]="name" /><button (click)="setName()">
      Set Name
    </button>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere reiciendis
      laudantium recusandae! Voluptatem sunt tempora ullam. Culpa corrupti
      maiores accusantium nesciunt, a vitae vero veritatis quae pariatur, id
      maxime voluptatibus?
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate
      mollitia reprehenderit exercitationem reiciendis sequi voluptatem tenetur!
      Maiores ea fugit totam natus nisi beatae, aliquid, adipisci tempore, illo
      earum voluptate obcaecati. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Sed est expedita eveniet totam praesentium quae
      explicabo. Repudiandae exercitationem odio officiis dolor? Eius itaque
      atque perspiciatis eum quisquam et voluptates repudiandae!
    </p>
    <input type="text" [(ngModel)]="cartval" />
    <button (click)="updateCart()">Update Cart</button>
  </div>
</div>
