<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form #userForm = 'ngForm' (ngSubmit)="onSubmit(userForm.value)">
                    <input [(ngModel)]="fname" name="fname" type="text" class="form-control" placeholder="Firstname"> <br>
                    <input [(ngModel)]="lname" name="lname" type="text" class="form-control" placeholder="Lastname"> <br>
                    <input type="email" [(ngModel)]="email" name="email" class="form-control" placeholder="Firstname"> <br>
                    <input type="password" [(ngModel)]="password" name="password" class="form-control" placeholder="Firstname"> <br>
                    <button type="submit">Register</button>
                </form>
        </div>
    </div>
</div>